<% provide(:title, "Historia") %>

<div class="jumbotron" id="histojumbo">
  <div class="container marketing">
    <h1>HISTORIA</h1>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <h1 class="title-history">
    Una historia de emprendimiento y perseverancia...
  </h1><br><br>
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag "Familia_BN.jpg", size: "1500x500", alt: "familia", class: "image-responsive" %>
    </div>
  </div><br><br>

  <div class="content-history">
    
    <h3>
      Todo empieza en Bogotá con una pareja de recién casados. Carlos Acuña y Flor María
      Bernal están iniciando su vida juntos y han tomado la decisión de hacer empresa en Colombia. Carlos 
      es un tipo apasionado por la metalmecánica. Flor María es una mujer con visión. El primer paso lo 
      dan en 1987 con la compra de Indulamp, un pequeño taller de lámparas. La experiencia y preparación 
      de Carlos en la industria y el apoyo y dedicación de Flor María hacen que para principios de los 
      noventa Indulamp sea un referente en chimeneas y soluciones metálicas para construcción. El proyecto 
      tiene un buen inicio.
    </h3>

    

    <h3>
      <div class="imagen-historia">
        <%= image_tag "fundadores.png", size: "208x300", alt: "fundadores", class: "image-responsive" %>
        <figcaption>Carlos y Flor María, 1987</figcaption>
      </div>
      Durante los noventa el negocio no para de crecer y el taller se ha quedado pequeño. A finales 
      de la década Indulamp se traslada al barrio San Fernando de Bogotá. Años de dedicación y esfuerzo 
      han dado frutos. Indulamp se prepara para recibir el nuevo milenio con edificio propio, una planta 
      de 350m2, maquinaria de vanguardia y más de 20 empleados.
    </h3>
    
    <h3>
      Los años siguen pasando y al igual que la empresa, la familia también ha ido creciendo. Alejandro y Tatiana, 
      hijos mayores de Carlos y Flor María, ya son profesionales y han estado ejerciendo sus carreras en otras 
      empresas. En el año 2008 ambos deciden renunciar a sus trabajos y llevar su talento a la empresa familiar. 
      Alejandro cuenta con más de 10 años de experiencia en el sector de la publicidad. Ha trabajado en diseño, 
      producción y ventas dentro de esta industria. Tatiana tiene más de ocho años de experiencia en el sector 
      financiero. Juntos traen cambios a la empresa. El enfoque pasa a ser la publicidad, se modernizan las 
      instalaciones e imagen y se cambia el nombre a Macromet. Pronto se empiezan a ver resultados exitosos y 
      comienza una nueva etapa para la empresa familiar.
    </h3>
     
    <h3>
      Llega el año 2015. Felipe y Giselle, hijos menores de Carlos y Flor María, se unen al equipo. Felipe ha estado 
      desarrollando negocios en el sector de la tecnología en Colombia y otros países latinoamericanos durante los 
      últimos ocho años. Giselle ha pasado los últimos 10 años ejecutando proyectos de construcción y desarrollo social 
      en todo el país. Macromet sigue siendo una empresa familiar. La dirección de la empresa ha pasado a manos de 
      una nueva generación: un equipo interdisciplinario de cuatro hermanos que planean llevar la empresa al siguiente 
      nivel apoyando el desarrollo y crecimiento de nuestro país.
    </h3>
  </div>

</div>
