<% provide(:title, "Historia") %>

<div class="jumbotron">
  <div class="container marketing">
    <h1>HISTORIA</h1>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <h1>
    Una historia de emprendimiento y perseverancia...
  </h1><br><br>
  <div class="row">
    <div class="col-lg-12">
      <img class="img-responsive" src="http://placehold.it/1500x500" alt="">
    </div>
  </div><br><br>

  <h3>
    Nuestra historia inicia cuando una pareja de bogotanos recién casados, Carlos Acuña y Flor María 
    Bernal, deciden comprar un pequeño taller de lámparas llamado Indulamp en el año 1987. 
  </h3>

  <h3>
    La pasión, preparación y experiencia de Carlos por la metalmecánica y el apoyo incondicional y visón
    de Flor María los llevan a convertir la empresa en un referente en Chimeneas y soluciones metálicas
    para construcción para inicios de los 90’s.
  </h3>

  <h3>
    Para finales de los 90’s, con la compra y construcción de un edificio de 4 pisos en el barrio San
    Fernando en Bogotá, Indulamp se convierte en una empresa que cuenta con una planta de 350m2,
    maquinaria de vanguardia y más de 20 empleados.
  </h3>
  
  <h3>
    Más adelante en el año 2008, Alejandro y Tatiana, hijos mayores de Carlos y Flor, deciden renunciar a
    sus trabajos y emprender juntos una nueva etapa de la empresa familiar. Alejandro con más de 10 años
    de experiencia en el sector de la publicidad desempeñando roles en diseño, producción y ventas en
    diversas compañías del sector, y Tatiana con más de 8 años de experiencia trabajando en diferentes
    roles en el sector de la banca, deciden enfocar la empresa en el sector de la publicidad, modernizar
    sus instalaciones e imagen, y cambiar el nombre de la compañía a Macromet. Dichos cambios y su
    conocimiento y experiencia los llevan a incursionar exitosamente en esta nueva industria.
  </h3>
   
  <h3>
    Finalmente, en el año 2015, Giselle y Felipe, hijos menores de Carlos y Flor, deciden también renunciar
    a sus trabajos y entrar a conformar este equipo de 4 hermanos que hoy llevan las riendas de la empresa.
    Giselle, con 10 años de experiencia ejecutando proyectos de construcción y desarrollo social en todo el
    país y Felipe, con 8 años de experiencia desarrollando negocios en el sector de la tecnología tanto en
    Colombia como en el resto de Latinoamérica, entran a completar un fabuloso equipo interdisciplinario
    de directivos (¡y hermanos!) y llevar a la empresa a otro nivel. Hoy Macromet está en proceso de
    convertirse un referente de desarrollo en Colombia y con un nuevo enfoque de desarrollar proyectos y
    productos que apoyen el crecimiento y desarrollo de nuestro país.
  </h3>
  

</div>
