<% provide(:title, "Nuevo Integrante") %>

<div class="contejumbo nominferior">
  <div class="container marketing">
    <h1>Nuevo integrante de Macromet</h1><br>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <%= render "form" %>
</div>
