<% provide(:title, "Nuevo Integrante") %>

<div class="contejumbo nominferior">
  <div class="container marketing">
    <h1>Agrega un nuevo integrante al equipo</h1><br>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <%= render "form" %>
  <p><%= link_to "Ir a inicio", root_path %></p>
</div>
