<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>El siguiente mensaje ha sido enviado por <span style="color:$macormet-darkblue;"><%= @msg.nombre %></span>:</h1>
    <h2>
     "<%= @msg.mensaje %>"<br>
    </h2>
    <p>
    	Para responder a este mensaje escriba a <strong><%= @msg.email %></strong>.
    </p>
  </body>
</html>