<% provide(:title, "Actualización de producto") %>

<div class="contejumbo nominferior">
  <div class="container marketing">
    <h1>Actualización de producto</h1><br>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <%= render "form" %>
</div>
