<% provide(:title, "Nuevo Producto") %>

<div class="contejumbo nominferior">
  <div class="container marketing">
    <h1>Nuevo producto</h1><br>
  </div>
</div><!-- /.container -->

<div class="container marketing">
  <%= render "form" %>
</div>

