<div class="container marketing">

  <!-- Contacto
  ================================================== -->

  <hr class="featurette-divider-penultimo">

  <div class="row contacto">
    <div class="col-md-12">
      <h2 class="">Trabajemos juntos.</h2>
      <p class="">Tenemos la experiencia y el talento para ayudarle a alcanzar sus metas.</p>
      <h4 class="">(571) 814-2291 &nbsp;-&nbsp; (571) 547-7107</h4><br>
      <p>
        <%= link_to "CONTÁCTENOS", contacto_path, class: "btn btn-lg btn-info", role: "button" %>
      </p>
    </div>
  </div><!-- /.contacto -->

  <hr class="featurette-divider-ultimo">


  <footer>
    <div class="row">
      <div class="col-md-6">
        <ul class="contact-info">
          <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;info@macromet.com.co</li>
          <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;&nbsp;(571) 814 2291- (571) 547 7107</li>
          <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;&nbsp;Calle 75 A # 61 - 20, Bogotá, Colombia.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="social-links">
          <li><i class="fa fa-linkedin fa-2x"></i></li>
          <li><i class="fa fa-instagram fa-2x"></i></li>
          <li><i class="fa fa-facebook fa-2x"></i></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p id="copyright">&copy; 2015 Macromet SAS</p>
        </div>
      </div>
    </div>
  </footer>
</div>
